.app-center {
  text-align: center; 
}

.App-logo {
  height: 80px;
}

.App-spinner {
  animation: App-logo-spin infinite 1.5s linear;
  height: 150px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.moneyButton {
  min-width: 250px !important;
}

.jac-alert {	
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 0;
  visibility: hidden;
}

.jac-alert.show {
  opacity: 1;
  visibility: visible;
}

.jac-hidden { 
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
